<!DOCTYPE html>
<html>
   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/home.css">
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

        <title>Mr. Blob</title>
   </head>

<body style="background-color: #93E2DE;">
   <header>
      <nav style = "z-index: 100;">
         <div class="logo"><a href="#">MR. BLOB</a></div>
         <div class="menu">
            <ul>
               <li><a href="drop.html">ECG</a></li>
               <li><a href="index.html">MEOW</a></li>
            </ul>
         </div>
      </nav>
   </header>
   
   

   <div class="parallax">
      <div class="container" id="aboutus" style="height:45vw; margin-top: -10px; background: #fff; position: relative; z-index: 10;">
         <img src="bg1.svg" style="margin-left:50vw; margin-top: -18vw;">
        <img src="cet.svg">
         <div class="centered">
            <h2>Hello Mr. Blob! </h2> 
            Project Titan/Flood is made specifically to help reach water in areas that require it by making optimised routes for water transport. 
            We aim to increasing a value for water and getting water to areas that do require it. 
            It focuses very heavily on the right to water, helping areas in poverty, prone to droughts.
         </div>
         
      </div>
   </div>

   </div>


<script>


</script>

</body>
</html>
